
<%- include('../partials/head') %>  
<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/form.css" />

</head>


<%- include('../partials/navigation') %>  
    <main>
      <% if (message.length>0) { %>
       
        <div class="message message--error">
         <p><%= message %></p> 
        </div>
      <% } %>
      <form action="/new-password" method="POST">
        <input type="hidden" name="CSRFToken" value="<%= CSRFToken%>" />
        <input type="hidden" name="userId" value="<%= userId%>" />
        <input type="hidden" name="resetToken" value="<%= resetToken%>" />
       <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"   />
       </div>
        <button type="submit">Confirm new password</button>
      </form>
    </main>
    <%- include('../partials/footer') %>  


