
<%- include('../partials/head') %>  
<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/form.css" />

</head>


<%- include('../partials/navigation') %>  
    <main>
      <% if (message) { %>
       
        <div class="message message--error">
         <p><%= message.msg %></p> 
        </div>
      <% } %>
      <form action="/signup" method="POST" novalidate>
        <input type="hidden" name="CSRFToken" value="<%= CSRFToken%>" />
       <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" 
        class="<%=message.path ==="email"?"invalid":""  %>"

        value="<%= oldData.email %>"  />
       </div>
       <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"
        class="<%=message.path ==="password"?"invalid":""  %>"

        value="<%= oldData.password %>" />
       </div>
       <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword"
        class="<%=message.path ==="confirmPassword"?"invalid":""  %>"

        id="confirmPassword"  value="<%= oldData.confirmPassword %>" />
       </div>
        <button type="submit">Sign up</button>
      </form>
    </main>
    <%- include('../partials/footer') %>  


