
<%- include('../partials/head') %>  
<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/form.css" />

</head>


<%- include('../partials/navigation') %>  
    <main>
      <% if (errors.length>0) { %>
        <div class="message message--error">
         <p><%= errors[0].msg %></p> 
        </div>
      <% } %>
      <form action="/admin/<%= editProduct === "true"  ? "edit-product" : "add-product" %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="CSRFToken" value="<%= CSRFToken%>" />

        <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title"
         value="<%= editProduct === "true" || 
         product ? product.title : " " %>"
       class="<%=errors.some(err=>err.path ==="title") ?"invalid":""  %>"
        />
       </div>
       <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" 
        />
       </div>
       <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" id="price" 
        value="<%= editProduct === "true" ||
        product? product.price : " " %>"
      class="<%=errors.some(err=>err.path ==="price") ?"invalid":""  %>"
      />
       </div>
       <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" name="description" 
        id="description" rows="5" 
        class="<%=errors.some(err=>err.path ==="description") ?"invalid":""  %>"
        ><%= editProduct === "true" ||
        product? product.description : " " %></textarea>
      </div>
      <% if (editProduct=== "true") { %>
        <input type="hidden" name="productId" 
        value="<%=product._id%>" >
      <% } %>
        <button type="submit"><%=pageTitle %></button>
      </form>
    </main>
    <%- include('../partials/footer') %>  


