
<%- include('../partials/head') %>  
<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/card.css" />


</head>


<%- include('../partials/navigation') %>  
    <main>
    <h1><%=pageTitle %></h1>
    <ul class="products-container">
        <% if(products.length > 0){ %> 
          <% for(let product of products){ %>
          <li>
          <div class="card">
            <div class="card-img">
              <!-- slice to remove puplic from url as it is static folder -->
            <img src="<%= product.imageUrl.slice(6) %>" alt="<%= product.title %>" />
             </div>
            <div class="card-info">
            <p class="text-title"><%= product.title %></p>
            <p class="text-body"><%= product.description.slice(0,100) %></p>
             </div>
    
                <div class="card-footer">
                 <span class="text-title"><%= product.price %> $</span>
                 <div class="card-button"> 
                    <a href="/admin/edit-product/<%=product._id%>?edit=true">Edit</a> 
                  </div>  
                    <form action="/admin/delete-product" method="post">
                      <input type="hidden" name="CSRFToken" value="<%= CSRFToken%>" />
                    <button type="submit" class="card-button">Delete</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">

                    
                    </form> 
                </div>
            </div>
        </li>
        <% } %> <% }else{ %>
        <li>No products found</li>
        <% } %>
      </ul>

    </main>
<%- include('../partials/footer') %>  


