<header>
  <nav>
    <div class="nav-logo">
      <a class="nav-logo" href="/">
        <i class="fa-brands fa-shopify fa-2xl"></i>
        <span class="nav-logo-subtitle">shopy</span>
      </a>
    </div>

    <ul class="nav-container">
      <li class="nav-item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a class="<%= path === '/cart' ? 'active' :''%>" href="/cart">cart</a>
      </li>
      <li class="nav-item">
        <a class="<%= path === '/orders' ? 'active' :''%>" href="/orders"
          >orders</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/admin/add-product' ? 'active' :''%>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/admin/products' ? 'active' :''%>"
          href="/admin/products"
          >Admin products</a
        >
      </li>
    </ul>
  </nav>
</header>
