<%- include('partials/head') %> 
<link rel="stylesheet" href="/css/card.css" />

</head>
<%- include('partials/navigation') %>

<main>
  <h2><%= pageTitle%></h2>
  <ul>
    <% if(products.length > 0){ %> <% for(let product of products){ %>
    <li></li>
    <div class="card">
      <div class="card-img">
        <img src="https://picsum.photos/200/300" alt="product image" />
      </div>
      <div class="card-info">
        <p class="text-title"><%= product.title %></p>
        <p class="text-body">Product description and details</p>
      </div>
      <div class="card-footer">
        <span class="text-title">$499.49</span>
        <div class="card-button"></div>
      </div>
    </div>
    <% } %> <% }else{ %>
    <li>No products found</li>
    <% } %>
  </ul>
</main>
<%- include('partials/footer') %>
