<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/card.css" />
<link rel="stylesheet" href="/css/cart.css" />

</head>
<%- include('../partials/navigation') %>

<main>
  <h2><%= pageTitle%></h2>
  <% if (products.length > 0) { %>
    <ul>
        <% products.forEach(product => { %>
            <li class="cart-item">
                <p><%= product.productId.title %> </p>
                <span><%= product.quantity %></span>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= product._id %>" name="productId">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <form action="/create-order" class="checkout" method="POST">
        <button class="card-button" type="submit">Checkout</button>
    </form>
<% } else { %>
    <h1>No Products in Cart!</h1>
<% } %>

</main>
<%- include('../partials/footer') %>
