<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/card.css" />
<link rel="stylesheet" href="/css/order.css" />

</head>
<%- include('../partials/navigation') %>

<main>
  <% if (orders.length <= 0) { %>
      <h1>Nothing there!</h1>
  <% } else { %>
      <ul class="orders-list">
          <% orders.forEach(order => { %>
              <li class="order">
                  <p class="order__id">Order ID: <%= order._id %></p>
                  <a href="/invoice/<%= order._id %>" class="btn order__btn">Invoice</a>
                  <ul class="order__products-list">
                      <% order.products.forEach(({product,quantity}) => { %>
                        <li class="order__product">
                            <h1 class="order__title"><%= product.title %> </h1>
                            <p class="order__quantity">
                                  <%=quantity %>
                            </p>
                        </li>
                      <% }); %>
                  </ul>
              </li>
          <% }); %>
      </ul>
  <% } %>
</main>
<%- include('../partials/footer') %>
