<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/card.css" />

</head>
<%- include('../partials/navigation') %>

<main>
  <% if (orders.length <= 0) { %>
      <h1>Nothing there!</h1>
  <% } else { %>
      <ul>
          <% orders.forEach(order => { %>
              <li>
                  <p># <%= order._id %></p>
                  <ul>
                      <% order.products.forEach(product => { %>
                          <li><h1><%= product.title %> (<%= product.quantity %>)</h1></li>
                      <% }); %>
                  </ul>
              </li>
          <% }); %>
      </ul>
  <% } %>
</main>
<%- include('../partials/footer') %>
